- if Rails.configuration.x.frontend_default

  - content_for :header_tags do

    :javascript
      window.STREAMING_API_BASE_URL = '#{Rails.configuration.x.streaming_api_base_url}';
      window.INITIAL_STATE = #{json_escape(render(file: 'home/initial_state', formats: :json))}

    = javascript_include_tag "#{Rails.configuration.x.frontend_default}"
    = stylesheet_link_tag "#{Rails.configuration.x.frontend_default}", media: "all"

  #frontend

- else

  - content_for :header_tags do

    = stylesheet_link_tag "about", media: "all"

  %h1 Oops!

  %p This instance of Ardipithecus doesn't have a frontend installed!
